header{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat;

}

#logo{
    height: 300px;
    width: 400px;
    margin-left: 10px;
}

.title{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.grey{
    color: lightgrey;
    font-size: 15px;
    margin-top: 5px;
}

.blue{
    color: #40B5E8;
}

.caption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.articolo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    
}

ul{
    font-size: 18px;
}

#marker{
    background-color: yellow;
}

.appendix1{
    background-image: url(../img/monitor.jpg);
    height: 207px;
    width: 311px;
    background: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.appendix2{
    background-image: url(../img/graph.jpg);
    height: 207px;
    width: 311px;
    background: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    margin-bottom: 400px;
}


